.calendar {
    width: 300px;
    margin: 20px auto;
    border: 1px solid lightblue;
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: navy;
}

.calendar-weekdays, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-weekdays div {
    padding: 5px;
    font-weight: bold;
}

.calendar-days div {
    padding: 10px;
    border: 1px black;
}

.calendar-days div.current-date {
    background-color: yellow;
    font-weight: bold;
}
<<<<<<< HEAD
.navbar-brand{
  padding-left:2%;
}

=======

.button{
    float: right;
    justify-content: flex-end;
    text-align: center;
    background-color: darkcyan;
    padding: 10px;
}

.todays-workout {
    float: right;
    position: relative;
    top: -65px;
    padding: 10px;
    background-color: deeppink;
}
>>>>>>> 6308192c2ecbca6d183d5764e4b0a68b5f2aaf04
