
.calendar {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    margin: 20px auto;
    font-family: sans-serif;
    background-color: #3162f2; 
    border: 1px solid #0892D0;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.calendar-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 0;
    width: 100%;
    color: white;
   
}


.calendar-header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.2rem;
}

.calendar-header button {
    background-color: #0892D0;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.1s ease;
}

.calendar-header button:hover {
    background-color: cyan;
    color: black;
    transform: scale(1.05);
}



.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

.calendar-weekdays div {
    padding: 5px;
    font-weight: bold;
    color: #0892D0;
}


.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
    margin-top: 10px;
}

.calendar-days div {
    padding: 15px 0;
    background-color: #cce4ff; 
    border-radius: 1px;
    cursor: pointer;
  
    transition: background-color 0.2s ease, transform 0.1s ease;
    color: #1e1f26; 

    min-height: 60px;    /* ensures a minimum size */
    aspect-ratio: 1/.7; /*aspect ratio control- change as you wish*/

}

.calendar-days div:hover {
    background-color: #99d1ff;
   
}


.calendar-days div.current-date {
    background-color: rgb(18, 237, 248);
    color: black;
    
}


.calendar-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.calendar-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.calendar-buttons button.prev, 
.calendar-buttons button.next {
    background-color: #0892D0;
    color: white;
}

.calendar-buttons button.prev:hover, 
.calendar-buttons button.next:hover {
    background-color: cyan;
    transform: scale(1.05);
}

.calendar-buttons button.todays-workout {
    border-radius: 3px;
    border-width: 0px;
    height: 100%;
    padding: 8px; 
    color:white;
    background-color: #0892D0;
    transition: background-color 0.3s ease; 
}

.calendar-buttons button.todays-workout:hover {
    background-color: cyan;
    color:white;
    
}

.calendar-buttons button.trainer-workout {
     border-radius: 3px;
    border-width: 0px;
    height: 100%;
    padding: 8px; 
    color:white;
    background-color: #0892D0;
    transition: background-color 0.3s ease; 
}

.calendar-buttons button.trainer-workout:hover {
  background-color: cyan; 
  color: white; 
}

#monthyear{
    display:flex;
    justify-content: center;
}

.backgroundCard{
  background-color:#1e1f26;
  padding: 15px;
  width: 100%;
  height:100vw;
  
}

.horizontalFlex{
  margin-top: 20px;        
  padding:10px;
  display: flex;
  gap: 10px;         
  justify-content: center;  
  align-items: center;    
    

}
.calenderContainer{
     border: 1px solid rgba(105, 105, 105, 0.5); 
     background-color: #252731;  
     padding:10px;
    margin-top:0px;
    margin-left:20%;
    margin-right:20%;
}

#popupcontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
