
.right-section{
  flex: 0 0 50%; /* 50% width */
  display: flex; 
  flex-direction: row;
  background-color: #1e1f26;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-left: 2px solid black;
  height: 100vh;
    
}

.SessionBox{
    display: flex;
    flex-direction: column;
    background-color: #343541;
    min-width: 400px;
    
    min-height: 600px;
}

.SessionBox > * {
  background-color: #343541; 
  margin: 5px;
  padding: 10px;
  
  
}

.exerciseForm{
    display: flex;           
    flex-direction: row;    
    flex-wrap: nowrap;               
    align-items: center;
    gap: 4px; 
    margin-top: auto;

}

.exerciseStack{
  
  min-height: 300px;
}

.exerciseForm input{
  max-width: 100px;

}
.exerciseForm button {
    flex-shrink: 1;
    white-space: nowrap;  /* prevent text from breaking into multiple lines */
    overflow: hidden;     /* optional: hide extra text if container shrinks */
    text-overflow: ellipsis;     
    background-color: #0892D0;     
         
}
.ExerciseItem {
  display:flex;
  flex-shrink: 0;  /* allows children to shrink if necessary */
  flex-direction: row;
  align-items: center;
  gap:18%;            
  white-space: nowrap;
  margin:10px;
  background-color: #0892D0;
  border-radius: 3px;
  padding:5px
  
}

.headerTitle {
  text-align: center;       
  color: #0892D0;           
  margin-top: 5px;          
  font-weight: bold;         
}
.Session{
  flex: 1 0 50%; 
  display: flex;
  flex-direction: column;
  background-color: #343541;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
}




.sessionLibrary{
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: #343541;
    border-radius: 3px;
    padding: 5px;
    align-items: center;


}



#saveSessionBtn{
  background-color:#0892D0;
  border-radius: 3px;
  border-width: 0px;
  height: 100%;
  
}
.addExerciseBtn{
  border-radius: 3px;
  border-width: 0px;
  height: 100%;
}